body{
                margin-top: 0px;
                margin-right: 0px;
                margin-left: 0px;
                font-family : "arial, helvetica, san-serif"
            }
            .header
            {
                text-align: center;
                color: black;
                background-image: url(bg2.png);
                padding: 50px;
            }
            .tagline
            {
                color: purple;
            }
            .contact
            {
                background-color: #C7D3D4FF;
                padding: 2px;
                font-family: sans-serif;
                padding-left: 20px;
                color: purple;
                font-size: medium;
            }
            .contactp
            {
                font-style: normal;
                display: inline;
            }
            .footer
            {
                padding: 20px;
                text-align: center;
                color: purple;
                background-color: #C7D3D4FF;
            }
            .nav
            {
                display: block;
                padding: 0px;
                background-color: #C7D3D4FF;
            }
            li
            {
                display: inline;
                float: left;
            }
            ul 
            {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #C7D3D4FF;
            }
            li a 
            {
                display: block;
                border-radius: 5px;
                color: purple;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            li a:hover
            {
                background-color: purple;
                color: #CBC3E3;
            }
            p a 
            {
                text-decoration: none !important;
                color: purple;
            }
            .right 
            {
                float: right;
                padding-right: 10px;
            }
            .maincontent
            {
                padding: 50px;
            }
            .blog
            {
                float: right;
                padding-right: 10px;
                font-weight: bold;
            }
            h5
            {
                display: inline-block;
            }
            .ig 
            {
                padding: 5px;
            }
            .fb
            {
                padding: 5px;
                float: right;
            }
            .tw 
            {
                padding: 5px;
                float: right;
            }
            .slidetext
            {
                color: purple;
                width: auto;
                padding-left: 475px;
                position: relative;
            }
            .marqueebox
            {
                width: 100%;
                margin: 0px;
            }